.idea/
db/awesomer.sqlite3
# Ignore master key for decrypting credentials and more.
config/master.key
log/*
tmp/*
storage/*.sqlite3*
.env
.env.*local
# Ignore all .keep files
*/**/.keep
# Ignore local repos configuration file
config/repos.yml
/CLAUDE.local.md
/vendor/
node_modules/
