---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Polycarbohydrate/awesome-tor/readme
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c835a68cd51e41e872ba0a0cc672d9ae993aa03e"
      Last-Modified:
      - Wed, 26 Feb 2025 22:39:10 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '41'
      X-Ratelimit-Reset:
      - '1747762559'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '19'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "git": "https://api.github.com/repos/Polycarbohydrate/awesome-tor/git/blobs/c835a68cd51e41e872ba0a0cc672d9ae993aa03e",
            "html": "https://github.com/Polycarbohydrate/awesome-tor/blob/main/README.md",
            "self": "https://api.github.com/repos/Polycarbohydrate/awesome-tor/contents/README.md?ref=main"
          },
          "content": "WyFbQXdlc29tZV0oaHR0cHM6Ly9hd2Vzb21lLnJlL2JhZGdlLnN2ZyldKGh0\ndHBzOi8vYXdlc29tZS5yZSkKIyBbIVthd2Vzb21lLXRvci1sb2dvXShodHRw\nczovL2dpdGh1Yi5jb20vUG9seWNhcmJvaHlkcmF0ZS9hd2Vzb21lLXRvci9h\nc3NldHMvMTY5NDAxNzk0L2Q4Yzc0MTVlLTE4NzQtNDlmNS1hMWM2LTA0YjNh\nOGFhNjg5ZildKGh0dHBzOi8vd3d3LnRvcnByb2plY3Qub3JnKQo+IEF3ZXNv\nbWUgVG9yIGlzIGEgY3VyYXRlZCBsaXN0IG9mIHJlc291cmNlcywgdG9vbHMs\nIGFuZCBhcHBsaWNhdGlvbnMgcmVsYXRlZCB0byB0aGUgVG9yIG5ldHdvcmsu\nCgo+IFshTk9URV0KPiBUaGlzIHByb2R1Y3QgaXMgcHJvZHVjZWQgaW5kZXBl\nbm[...]
- request:
    method: get
    uri: https://api.github.com/repos/nusenu/ansible-relayor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ae0749e791eec15f9cd8d1ccbea62d0e4304481e1a28b2e3920085df9e3c79e9"
      Last-Modified:
      - Mon, 12 May 2025 10:10:16 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Ratelimit-Reset:
      - '1747762559'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '20'
    body:
      encoding: UTF-8
      string: |-
        {
          "allow_forking": true,
          "archive_url": "https://api.github.com/repos/nusenu/ansible-relayor/{archive_format}{/ref}",
          "archived": false,
          "assignees_url": "https://api.github.com/repos/nusenu/ansible-relayor/assignees{/user}",
          "blobs_url": "https://api.github.com/repos/nusenu/ansible-relayor/git/blobs{/sha}",
          "branches_url": "https://api.github.com/repos/nusenu/ansible-relayor/branches{/branch}",
          "clone_url": "https://github.com/nusenu/ansible-relayor.git",
          "collaborators_url": "https://api.github.com/repos/nusenu/ansible-relayor/collaborators{/collaborator}",
          "comments_url": "https://api.github.com/repos/nusenu/ansible-relayor/comments{/number}",
          "commits_url": "https://api.github.com/repos/nusenu/ansible-relayor/commits{/sha}",
          "compare_url": "https://api.github.com/repos/nusenu/ansible-relayor/compare/{base}...{head}",
          "contents_url": "https://api.github.com/repos/nusenu/ansible-relayor/contents/{+path}",
          "contributors_url": "https://api.github.com/repos/nusenu/ansible-relayor/contributors",
          "created_at": "2015-02-27T18:37:21Z",
          "default_branch": "master",
          "deployments_url": "https://api.github.com/repos/nusenu/ansible-relayor/deployments",
          "description": "An Ansible Role for Tor Relay Operators",
          "disabled": false,
          "downloads_url": "https://api.github.com/repos/nusenu/ansible-relayor/downloads",
          "events_url": "https://api.github.com/repos/nusenu/ansible-relayor/events",
          "fork": false,
          "forks": 42,
          "forks_count": 42,
          "forks_url": "https://api.github.com/repos/nusenu/ansible-relayor/forks",
          "full_name": "nusenu/ansible-relayor",
          "git_commits_url": "https://api.github.com/repos/nusenu/ansible-relayor/git/commits{/sha}",
          "git_refs_url": "https://api.github.com/repos/nusenu/ansible-relayor/git/refs{/sha}",
          "git_tags_url": "https://api.github.com/repos/nusenu/ansible-relayor/git/tags{/sha}",
          "git_url": "git://github.com/nusenu/ansible-relayor.git",
          "has_discussions": true,
          "has_downloads": true,
          "has_issues": true,
          "has_pages": false,
          "has_projects": true,
          "has_wiki": true,
          "homepage": "",
          "hooks_url": "https://api.github.com/repos/nusenu/ansible-relayor/hooks",
          "html_url": "https://github.com/nusenu/ansible-relayor",
          "id": 31433462,
          "is_template": false,
          "issue_comment_url": "https://api.github.com/repos/nusenu/ansible-relayor/issues/comments{/number}",
          "issue_events_url": "https://api.github.com/repos/nusenu/ansible-relayor/issues/events{/number}",
          "issues_url": "https://api.github.com/repos/nusenu/ansible-relayor/issues{/number}",
          "keys_url": "https://api.github.com/repos/nusenu/ansible-relayor/keys{/key_id}",
          "labels_url": "https://api.github.com/repos/nusenu/ansible-relayor/labels{/name}",
          "language": "HTML",
          "languages_url": "https://api.github.com/repos/nusenu/ansible-relayor/languages",
          "license": {
            "key": "gpl-3.0",
            "name": "GNU General Public License v3.0",
            "node_id": "MDc6TGljZW5zZTk=",
            "spdx_id": "GPL-3.0",
            "url": "https://api.github.com/licenses/gpl-3.0"
          },
          "merges_url": "https://api.github.com/repos/nusenu/ansible-relayor/merges",
          "milestones_url": "https://api.github.com/repos/nusenu/ansible-relayor/milestones{/number}",
          "mirror_url": null,
          "name": "ansible-relayor",
          "network_count": 42,
          "node_id": "MDEwOlJlcG9zaXRvcnkzMTQzMzQ2Mg==",
          "notifications_url": "https://api.github.com/repos/nusenu/ansible-relayor/notifications{?since,all,participating}",
          "open_issues": 9,
          "open_issues_count": 9,
          "owner": {
            "avatar_url": "https://avatars.githubusercontent.com/u/11165848?v=4",
            "events_url": "https://api.github.com/users/nusenu/events{/privacy}",
            "followers_url": "https://api.github.com/users/nusenu/followers",
            "following_url": "https://api.github.com/users/nusenu/following{/other_user}",
            "gists_url": "https://api.github.com/users/nusenu/gists{/gist_id}",
            "gravatar_id": "",
            "html_url": "https://github.com/nusenu",
            "id": 11165848,
            "login": "nusenu",
            "node_id": "MDQ6VXNlcjExMTY1ODQ4",
            "organizations_url": "https://api.github.com/users/nusenu/orgs",
            "received_events_url": "https://api.github.com/users/nusenu/received_events",
            "repos_url": "https://api.github.com/users/nusenu/repos",
            "site_admin": false,
            "starred_url": "https://api.github.com/users/nusenu/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/nusenu/subscriptions",
            "type": "User",
            "url": "https://api.github.com/users/nusenu",
            "user_view_type": "public"
          },
          "private": false,
          "pulls_url": "https://api.github.com/repos/nusenu/ansible-relayor/pulls{/number}",
          "pushed_at": "2025-04-28T23:11:38Z",
          "releases_url": "https://api.github.com/repos/nusenu/ansible-relayor/releases{/id}",
          "size": 623,
          "ssh_url": "git@github.com:nusenu/ansible-relayor.git",
          "stargazers_count": 249,
          "stargazers_url": "https://api.github.com/repos/nusenu/ansible-relayor/stargazers",
          "statuses_url": "https://api.github.com/repos/nusenu/ansible-relayor/statuses/{sha}",
          "subscribers_count": 16,
          "subscribers_url": "https://api.github.com/repos/nusenu/ansible-relayor/subscribers",
          "subscription_url": "https://api.github.com/repos/nusenu/ansible-relayor/subscription",
          "svn_url": "https://github.com/nusenu/ansible-relayor",
          "tags_url": "https://api.github.com/repos/nusenu/ansible-relayor/tags",
          "teams_url": "https://api.github.com/repos/nusenu/ansible-relayor/teams",
          "temp_clone_token": null,
          "topics": ["ansible","ansible-role","tor","tor-network","tor-relay-operator"],
          "trees_url": "https://api.github.com/repos/nusenu/ansible-relayor/git/trees{/sha}",
          "updated_at": "2025-05-12T10:10:16Z",
          "url": "https://api.github.com/repos/nusenu/ansible-relayor",
          "visibility": "public",
          "watchers": 249,
          "watchers_count": 249,
          "web_commit_signoff_required": false
        }
  recorded_at: Tue, 20 May 2025 16:42:45 GMT
- request:
    method: get
    uri: https://api.github.com/repos/cretz/bine
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cb085517cac1036e6c69528f11d76627abcb571f56307de9706a7eafbefd64e"
      Last-Modified:
      - Tue, 13 May 2025 15:51:31 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Ver[...]
- request:
    method: get
    uri: https://api.github.com/repos/DNSCrypt/dnscrypt-proxy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9a2ce99114247c81ad627f2b3f0ea9a8608729ea34aec5776c93e4001d2bb6d2"
      Last-Modified:
      - Tue, 20 May 2025 16:28:24 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-G[...]
- request:
    method: get
    uri: https://api.github.com/repos/skizap/dos-over-tor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d187b0e4ffa08de439976659b2e303e930c32afd0a7788ee19659e700bf3fa99"
      Last-Modified:
      - Sat, 12 Apr 2025 14:23:15 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Githu[...]
- request:
    method: get
    uri: https://api.github.com/repos/alecmuffett/eotk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46eece2052d5f8bcfdefdfcc06cd85c8d1ab4b77d7b42fa2bcc76bac2db63819"
      Last-Modified:
      - Thu, 24 Apr 2025 16:27:31 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-A[...]
- request:
    method: get
    uri: https://api.github.com/repos/GaloisInc/haskell-tor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"52b2c3cbc80153fbbbe1dd7ab54a128fe4588a6be93cf60d7dcd6c7e87e99eb0"
      Last-Modified:
      - Thu, 12 Dec 2024 23:28:50 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Git[...]
- request:
    method: get
    uri: https://api.github.com/repos/brainfucksec/kalitorify
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24116cc465b5ceeac70df4fb20da69ead436e1f058a46aefbadc314d2a03ada4"
      Last-Modified:
      - Mon, 19 May 2025 09:34:00 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-G[...]
- request:
    method: get
    uri: https://api.github.com/repos/trimstray/multitor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4dcd8bb9f88fae28b743ddec3fd6cc47d3f60cdac6cd2a90702bdf189279c5b7"
      Last-Modified:
      - Sat, 17 May 2025 16:17:26 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github[...]
- request:
    method: get
    uri: https://api.github.com/repos/wbenny/mini-tor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0ae17fff37835abae25bca4673f7966d6dba2974a398ccaad72cb1fe47de2d72"
      Last-Modified:
      - Tue, 06 May 2025 00:40:30 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Ap[...]
- request:
    method: get
    uri: https://api.github.com/repos/Ayms/node-Tor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eef64c29b2f647ca0362db7dad3d71d828281d57e798bca1fca9f387bc7e278c"
      Last-Modified:
      - Thu, 08 May 2025 08:36:55 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-[...]
- request:
    method: get
    uri: https://api.github.com/repos/atorrescogollo/offensive-tor-toolkit
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4b0ca5b03ce4509441adcd35e10f18750ccf3c2394538b1897ee5b9a2e699ace"
      Last-Modified:
      - Thu, 24 Apr 2025 23:43:50 GMT
      X-Github-Media-Type:
      - github.v3; format=j[...]
- request:
    method: get
    uri: https://api.github.com/repos/Whonix/onion-grater
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"beec5b54667f7c334bb8e34db1fbf0f5ec6ab7121eae1aff05851dea1e79f2aa"
      Last-Modified:
      - Wed, 07 May 2025 06:44:31 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Githu[...]
- request:
    method: get
    uri: https://api.github.com/repos/dunglas/php-torcontrol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa38e0bd02e57ce19cff4dcb4d9ef3d7b9aeae39c896ba3ebb7efdc0b3d491bb"
      Last-Modified:
      - Mon, 23 Sep 2024 13:36:03 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Gi[...]
- request:
    method: get
    uri: https://api.github.com/repos/mattes/rotating-proxy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"be1549af3cfc5b4e34602a885903d664099978e9df1b6a24d058ba64121b2d89"
      Last-Modified:
      - Tue, 20 May 2025 15:08:35 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Git[...]
- request:
    method: get
    uri: https://api.github.com/repos/glamrock/stormy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d98c418694cc10898116bc96b8d83a01c3db7a7befe825a4234d885fc5303c92"
      Last-Modified:
      - Fri, 07 Mar 2025 06:58:40 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Ap[...]
- request:
    method: get
    uri: https://api.github.com/repos/tor-actions/setup-tor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"224ab5d191a2f02005b38186cb2b368bbb47c77bc8fa648c1e3036a7348117d9"
      Last-Modified:
      - Sun, 13 Apr 2025 18:27:52 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Git[...]
- request:
    method: get
    uri: https://api.github.com/repos/basil00/TorWall
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.github.com/repositories/11129009
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '24'
      X-Ratelimit-Reset:
      - '1747762559'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '36'
    body:
      encoding: UTF-8
      string: |-
        {
          "documentation_url": "https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api#follow-redirects",
          "message": "Moved Permanently",
          "url": "https://api.github.com/repositories/11129009"
        }
  recorded_at: Tue, 20 May 2025 16:42:47 GMT
recorded_with: VCR 6.3.1
