---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/tchapi/davis
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86ccccd0ff8a4ec1ca539c3919ef2d0001bc87d05a2d3e31b2f00f069842be11"
      Last-Modified:
      - Mon, 19 May 2025 04:59:45 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1747755116'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '5'
    body:
      encoding: UTF-8
      string: "{\n  \"allow_forking\": true,\n  \"archive_url\": \"https://api.github.com/repos/tchapi/davis/{archive_format}{/ref}\",\n
        \ \"archived\": false,\n  \"assignees_url\": \"https://api.github.com/repos/tchapi/davis/assignees{/user}\",\n
        \ \"blobs_url\": \"https://api.github.com/repos/tchapi/davis/git/blobs{/sha}\",\n
        \ \"branches_url\": \"https://api.github.com/repos/tchapi/davis/branches{/branch}\",\n
        \ \"clone_url\": \"https://github.com/tchapi/davis.git\",\n  \"collaborators_url\":
        \"https://api.github.com/repos/tchapi/davis/collaborators{/collaborator}\",\n
        \ \"comments_url\": \"https://api.github.com/repos/tchapi/davis/comments{/number}\",\n
        \ \"commits_url\": \"https://api.github.com/repos/tchapi/davis/commits{/sha}\",\n
        \ \"compare_url\": \"https://api.github.com/repos/tchapi/davis/compare/{base}...{head}\",\n
        \ \"contents_url\": \"https://api.github.com/repos/tchapi/davis/contents/{+path}\",\n
        \ \"contributors_url\": \"https://api.github.com/repos/tchapi/davis/contributors\",\n
        \ \"created_at\": \"2019-10-29T11:01:11Z\",\n  \"default_branch\": \"main\",\n
        \ \"deployments_url\": \"https://api.github.com/repos/tchapi/davis/deployments\",\n
        \ \"description\": \"\U0001F5D3 A simple, fully translatable admin interface
        for sabre/dav based on Symfony 5 and Bootstrap 5, initially inspired by Baïkal.\",\n
        \ \"disabled\": false,\n  \"downloads_url\": \"https://api.github.com/repos/tchapi/davis/downloads\",\n
        \ \"events_url\": \"https://api.github.com/repos/tchapi/davis/events\",\n
        \ \"fork\": false,\n  \"forks\": 25,\n  \"forks_count\": 25,\n  \"forks_url\":
        \"https://api.github.com/repos/tchapi/davis/forks\",\n  \"full_name\": \"tchapi/davis\",\n
        \ \"git_commits_url\": \"https://api.github.com/repos/tchapi/davis/git/commits{/sha}\",\n
        \ \"git_refs_url\": \"https://api.github.com/repos/tchapi/davis/git/refs{/sha}\",\n
        \ \"git_tags_url\": \"https://api.github.com/repos/tchapi/davis/git/tags{/sha}\",\n
        \ \"git_url\": \"git://github.com/tchapi/davis.git\",\n  \"has_discussions\":
        false,\n  \"has_downloads\": true,\n  \"has_issues\": true,\n  \"has_pages\":
        false,\n  \"has_projects\": true,\n  \"has_wiki\": false,\n  \"homepage\":
        \"https://github.com/users/tchapi/projects/1/views/1\",\n  \"hooks_url\":
        \"https://api.github.com/repos/tchapi/davis/hooks\",\n  \"html_url\": \"https://github.com/tchapi/davis\",\n
        \ \"id\": 218266803,\n  \"is_template\": false,\n  \"issue_comment_url\":
        \"https://api.github.com/repos/tchapi/davis/issues/comments{/number}\",\n
        \ \"issue_events_url\": \"https://api.github.com/repos/tchapi/davis/issues/events{/number}\",\n
        \ \"issues_url\": \"https://api.github.com/repos/tchapi/davis/issues{/number}\",\n
        \ \"keys_url\": \"https://api.github.com/repos/tchapi/davis/keys{/key_id}\",\n
        \ \"labels_url\": \"https://api.github.com/repos/tchapi/davis/labels{/name}\",\n
        \ \"language\": \"PHP\",\n  \"languages_url\": \"https://api.github.com/repos/tchapi/davis/languages\",\n
        \ \"license\": {\n    \"key\": \"mit\",\n    \"name\": \"MIT License\",\n
        \   \"node_id\": \"MDc6TGljZW5zZTEz\",\n    \"spdx_id\": \"MIT\",\n    \"url\":
        \"https://api.github.com/licenses/mit\"\n  },\n  \"merges_url\": \"https://api.github.com/repos/tchapi/davis/merges\",\n
        \ \"milestones_url\": \"https://api.github.com/repos/tchapi/davis/milestones{/number}\",\n
        \ \"mirror_url\": null,\n  \"name\": \"davis\",\n  \"network_count\": 25,\n
        \ \"node_id\": \"MDEwOlJlcG9zaXRvcnkyMTgyNjY4MDM=\",\n  \"notifications_url\":
        \"https://api.github.com/repos/tchapi/davis/notifications{?since,all,participating}\",\n
        \ \"open_issues\": 14,\n  \"open_issues_count\": 14,\n  \"owner\": {\n    \"avatar_url\":
        \"https://avatars.githubusercontent.com/u/1944007?v=4\",\n    \"events_url\":
        \"https://api.github.com/users/tchapi/events{/privacy}\",\n    \"followers_url\":
        \"https://api.github.com/users/tchapi/followers\",\n    \"following_url\":
        \"https://api.github.com/users/tchapi/following{/other_user}\",\n    \"gists_url\":
        \"https://api.github.com/users/tchapi/gists{/gist_id}\",\n    \"gravatar_id\":
        \"\",\n    \"html_url\": \"https://github.com/tchapi\",\n    \"id\": 1944007,\n
        \   \"login\": \"tchapi\",\n    \"node_id\": \"MDQ6VXNlcjE5NDQwMDc=\",\n    \"organizations_url\":
        \"https://api.github.com/users/tchapi/orgs\",\n    \"received_events_url\":
        \"https://api.github.com/users/tchapi/received_events\",\n    \"repos_url\":
        \"https://api.github.com/users/tchapi/repos\",\n    \"site_admin\": false,\n
        \   \"starred_url\": \"https://api.github.com/users/tchapi/starred{/owner}{/repo}\",\n
        \   \"subscriptions_url\": \"https://api.github.com/users/tchapi/subscriptions\",\n
        \   \"type\": \"User\",\n    \"url\": \"https://api.github.com/users/tchapi\",\n
        \   \"user_view_type\": \"public\"\n  },\n  \"private\": false,\n  \"pulls_url\":
        \"https://api.github.com/repos/tchapi/davis/pulls{/number}\",\n  \"pushed_at\":
        \"2025-05-13T21:32:52Z\",\n  \"releases_url\": \"https://api.github.com/repos/tchapi/davis/releases{/id}\",\n
        \ \"size\": 7591,\n  \"ssh_url\": \"git@github.com:tchapi/davis.git\",\n  \"stargazers_count\":
        472,\n  \"stargazers_url\": \"https://api.github.com/repos/tchapi/davis/stargazers\",\n
        \ \"statuses_url\": \"https://api.github.com/repos/tchapi/davis/statuses/{sha}\",\n
        \ \"subscribers_count\": 14,\n  \"subscribers_url\": \"https://api.github.com/repos/tchapi/davis/subscribers\",\n
        \ \"subscription_url\": \"https://api.github.com/repos/tchapi/davis/subscription\",\n
        \ \"svn_url\": \"https://github.com/tchapi/davis\",\n  \"tags_url\": \"https://api.github.com/repos/tchapi/davis/tags\",\n
        \ \"teams_url\": \"https://api.github.com/repos/tchapi/davis/teams\",\n  \"temp_clone_token\":
        null,\n  \"topics\": [\"bootstrap5\",\"caldav\",\"carddav\",\"symfony5\",\"webdav\"],\n
        \ \"trees_url\": \"https://api.github.com/repos/tchapi/davis/git/trees{/sha}\",\n
        \ \"updated_at\": \"2025-05-19T04:59:45Z\",\n  \"url\": \"https://api.github.com/repos/tchapi/davis\",\n
        \ \"visibility\": \"public\",\n  \"watchers\": 472,\n  \"watchers_count\":
        472,\n  \"web_commit_signoff_required\": false\n}"
  recorded_at: Tue, 20 May 2025 14:31:56 GMT
- request:
    method: get
    uri: https://api.github.com/repos/jelmer/xandikos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"282dce1fbb9476e0a9644ce974e5a5c79541290f95da97b297a1ccb2a2cb1614"
      Last-Modified:
      - Sun, 18 May 2025 22:44:58 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Ap[...]
